<!DOCTYPE html>

{% load static %}

<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confectionary</title>
    <link rel="icon" href="{% static 'image/cake.jpg' %}" type="image/jpg">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="{% static 'scripts/script.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,600,700|Open+Sans:300,300i,400,400i,600,600i,700,700i&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
</head>

<body>
<div class="intro">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="../../index"><img src="{% static 'image/logo.png' %}" alt="" class="logo"></a>
                </div>
                <nav id="main__menu">
                    <a href="../../../index/#menu" class="nav__link">Меню</a>
                    <a href="../../../index/#order" class="nav__link">Як зробити замовлення?</a>
                    <a href="../../../index/#photos" class="nav__link">Фото</a>
                    <a href="../login.html" class="nav__link" id="sign_in">Вхід</a>
                    <a href="../registration.html" class="nav__link" id="sign_up">Реєстрація</a>
                </nav>
                <div class="burger_nav">
                    <span id="trigger" class="trigger">
                        <i></i>
                        <i></i>
                        <i></i>
                    </span>
                    <div class="left-side" id="left-side">
                    <ul id="menub" class="menub">
                        <li><a href="index.html" class="nav__link__burger" id="homepage">Головна сторінка</a></li>
                        <li class="burger_items"><a href="../../../index/#menu" class="nav__link__burger">Меню</a></li>
                        <li class="burger_items"><a href="../../../index/#photos" class="nav__link__burger">Фото</a></li>
                        <li class="burger_items"><a href="../login.html" class="nav__link__burger" id="sign_in">Вхід</a></li>
                        <li class="burger_items"><a href="../registration.html" class="nav__link__burger" id="sign_up">Реєстрація</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="cupcake_change_block">
                    <div class="row">
                        <h2 class="autorization__name">Капкейки</h2><br/>
                        <div class="col">
                             <p/>
                    <h4 class="cupcakes_change">Код</h4>
                    <input class="cupcake_change_field" type="text" id="code"/>
                    <br/><h4 class="cupcakes_change">Назва капкейку</h4>
                    <input class="cupcake_change_field" type="text" id="name"/>
                    <br/>
                    <h4 class="cupcakes_change">Рейтинг</h4>
                    <input class="cupcake_change_field" type="number" id="rating"/>
                    <br/>
                    <h4 class="cupcakes_change">Калорійність</h4>
                    <input class="cupcake_change_field" type="number" id="kkal"/>
                    <br/>
                    <h4 class="cupcakes_change">Ціна</h4>
                    <input class="cupcake_change_field" type="text" id="price"/>
                    <p/>
                    <button class="enter" onclick="getDish()">Деталі</button>
                    <button class="enter" onclick="addDish()">Додати</button>
                    <button class="enter" onclick="deleteDish()">Видалити</button>
                    <button class="enter" onclick="updateDish()">Оновити</button>
                            <form action="../../list.html" >
                    <button  class="enter" onclick="getDishes()">Список</button>
                            </form>
                    <p/>


                        </div>
                    </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="columns">
                <div class="column"><img src="{% static 'image/cupcake.png' %}" alt="logo"></div>
                <div class="column"><a href="../../../index/#menu" class="footerlink">Меню</a> <br> <a href="../../../index/#order" class="footerlink">Як зробити замовлення?</a> <br>
                <a href="../../../index/#photos" class="footerlink">Фото</a> <br> </div>
                <div class="column"><span class="tnumber">+380931199063</span><br><a href="../../../index/#call" class="footerlink">Замовити дзвінок</a></div>
                <div class="column">Політика конфіденційності <br> © 2020-2020 Юліана Лаврик. Усі права застережені.</div>
                <a href="https://www.instagram.com/yulianalavryk/" target="_blank"><img src="{% static 'image/instagram.png' %}" alt=""></a>
            </div>
        </div>
    </footer>

</body>

</html>